.drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &__top {
    display: grid;
    gap: 60px;

    &--header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &--middle {
      align-items: start;
      display: flex;
      justify-content: start;
    }
  }

  &__button {
    button {
      width: 100%;
    }
  }
}
