.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  &__dot {
    background-color: #ffffff47;
    border-radius: 10px;
    height: 4px;
    margin: 0 5px;
    position: relative;
    width: calc(clamp(2.625rem, 3.646vw + 0.875rem, 5.25rem));

    &--active .pagination__progress {
      background-color: var(--white);
      border-radius: 10px;
      transition: width 4s linear;
      width: 100%;
    }
  }

  &__progress {
    background-color: var(--white);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
  }

  &-width {
    width: 100%;
  }
}
