.layout {
  background-color: var(--layout-bg);
  display: grid;
  gap: 30px;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: 100%;
  overflow: hidden;

  &__header {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    &--white {
      background-color: var(--white);
    }
  }

  &__content {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
  }

  &__center {
    margin: 0 auto;
    // max-width: var(--layout-max-width);
    width: 100%;

    @media only screen and (max-width: 475px) {
      padding: 0 8px;
    }
  }
}
