.swiper {
  padding-bottom: 30px;

  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &-bullet {
      background-color: var(--text);
      opacity: 0.1;
      width: 44px;
      height: 4px;
      border-radius: 100px;
      cursor: pointer;

      &-active {
        background-color: var(--brand);
        opacity: 1;
      }
    }
  }
}
